section#colour_display {
    font-family: sans-serif;
    margin: 100px auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 4rem;
    border-radius: 0.5rem;
}

section#colour_display h1 {
    font-weight: 900;
}

section#colour_display #new_colour_button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

section#colour_display #new_colour_button:hover {
    background-color: darkgray;
}